<div class="sidebar" >
  <div class="active">
    <span><a href="/bahagi-2-digit"> Bahagi 2 Digit</a></span>
  </div>
  <div>
      <span><a href="/bahagi-4-digit">Bahagi 4 Digit</a></span>
  </div>
  <div>
      <span><a href="/bahagi-titik-perpuluhan">Bahagi dengan Titik Perpuluhan</a></span>
  </div>
  <div>
      <span><a href="/bahagi-kehidupan-seharian">Bahagi dalam Kehidupan Seharian</a></span>
  </div>
  <div>
      <span><a href="/bahagi-masalah">Penyelesaian Masalah</a></span>
  </div>
</div>