.sidebar {
  position: fixed;
  height: 100%;
  width: 200px;
  background-color: #f1f1f1;
  padding: 20px;
  overflow: auto;
  /* Add this line */
    margin-top: 0; /* Set this to 0 */
      transition: margin-top 0.3s ease; /* Add 'ease' to make the transition smoother */

}

.sidebar div {
  border-left: 4px solid transparent;
  padding: 10px;
  margin-bottom: 10px;
    cursor: pointer;
}

.sidebar span.topic.active {
  border-left: 4px solid blue;
  padding: 5px;
}
.sidebar div:hover {
  background-color: #ddd; /* Light grey color when hover a list */
}

.sidebar span.topic {
  display: none;
  margin-left: 20px;
  margin-top: 10px;
  padding-bottom: 10px;
    border-top: 1px solid gray; /* Add a separator */
}

.sidebar span.arrow {
  float: right;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.sidebar div.active span.arrow {
  transform: rotate(180deg);
}
