{% extends 'base.html' %}

{% block content %}
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lesson.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebar.css') }}">
    </head>
    <body>
    {% include 'matematik-pengguna/simpanan-pelaburan/sidebar.html' %}
    <div class="lesson">
        <h1 class="center-text">Nilai Pulangan Pelabuaran (ROI)</h1>
        {% include 'editor.html' %}
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

</body>
```
