<div class="sidebar" >
  <div class="active">
      <span><a href="/matematik-pengguna/kredit-hutang/definisi-kredit-hutang">Definisi Kredit Hutang</a></span>
  </div>
  <div>
      <span><a href="/matematik-pengguna/kredit-hutang/kira-kredit">Pengiraan Kredit</a></span>
  </div>
  <div>
      <span><a href="/matematik-pengguna/kredit-hutang/kredit-masalah">Penyelesaian Masalah Kredit</a></span>
  </div>
  <div>
      <span><a href="/matematik-pengguna/kredit-hutang/faedah-sama-rata">Faedah Sama Rata</a></span>
  </div>
  <div>
      <span><a href="/matematik-pengguna/kredit-hutang/faedah-atas-baki">Faedah Atas Baki</a></span>
  </div>
  <div>
      <span><a href="/matematik-pengguna/kredit-hutang/pinjaman-masalah">Penyelesaian Masalah Pinjaman</a></span>
  </div>
</div>