<!-- custom-sidebar.html -->
{% block custom_sidebar %}
<div class="sidebar" >
  <div class="active">
    <span>Equal groups</span>
  </div>
  <div>
    <span>Equal groups (Not started)</span>
  </div>
  <div>
    <span>Introduction to multiplication</span>
  </div>
  <div>
    <span>Understand equal groups as multiplication (Not started)</span>
  </div>
  <div>
    <span>Multiplication as repeated addition</span>
  </div>
  <div>
    <span>Relate repeated addition to multiplication (Not started)</span>
  </div>
</div>
{% endblock %}
