{% extends 'base.html' %}

{% block content %}
<style>

/* Add these styles */
.curriculum {
  width: 80%;
    font-family: Arial, sans-serif;
  padding-top: 60px; /* Adjust this value based on the height of your navbar */
  /* Add this line */
    /* Adjust this value based on the width of your sidebar */
    margin: auto auto auto 250px;
}


.curriculum h1, .curriculum h2, .curriculum h3, .curriculum h4 {
    color: #5a5a5a;
}

.curriculum p {
    color: #757575;
}

.unit {
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}
._12yy6f6l {
    font-family: 'Lato', 'Noto Sans', 'Helvetica', 'Corbel', sans-serif, 'Helvetica', 'Corbel', sans-serif;
    font-size: 14px;

}

.unit h3, .unit h4 {
    margin-top: 0;
}

.unit ul {
    list-style-type: none;
    padding-left: 0;
    column-count: 2;
    column-gap: 20px;
}

.unit ul li {
    font-size: 14px; /* This will make the text smaller */
    margin-bottom: 10px; /* This will add some space between each list item */
}



</style>
    <head>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebar.css') }}">
    </head>
<body>
<div class="sidebar">
  <div onclick="toggleTopics(this)">
    <span>Darab<span class="arrow">▼</span></span>
          <span class="topic"><a href="/pengenalan-darab">Pengenalan Darab</a></span>
    <span class="topic"><a href="/darab-2-digit">Darab 2 Digit</a></span>
{#    <span class="topic"><a href="/darab-3-digit">Darab 3 Digit</a></span>#}
    <span class="topic"><a href="/darab-titik-perpuluhan">Darab dengan Titik Perpuluhan</a></span>
{#    <span class="topic"><a href="/darab-kehidupan-seharian">Darab dalam Kehidupan Seharian</a></span>#}
{#    <span class="topic"><a href="/darab-masalah">Penyelesaian Masalah</a></span>#}
  </div>
  <div onclick="toggleTopics(this)">
    <span>Bahagi<span class="arrow">▼</span></span>
          <span class="topic"><a href="/pengenalan-bahagi">Pengenalan Bahagi</a></span>
{#    <span class="topic"><a href="/bahagi-2-digit">Bahagi 2 Digit</a></span>#}
    <span class="topic"><a href="/bahagi-4-digit">Bahagi 2 Digit</a></span>
    <span class="topic"><a href="/bahagi-titik-perpuluhan">Bahagi dengan Titik Perpuluhan</a></span>
{#    <span class="topic"><a href="/bahagi-kehidupan-seharian">Bahagi dalam Kehidupan Seharian</a></span>#}
{#    <span class="topic"><a href="/bahagi-masalah">Penyelesaian Masalah</a></span>#}
  </div>
  <div onclick="toggleTopics(this)">
    <span>Matematik Pengguna: Simpanan dan Pelaburan<span class="arrow">▼</span></span>
    <span class="topic"><a href="/matematik-pengguna/simpanan-pelaburan/simpanan-dan-pelaburan">Simpanan dan Pelaburan</a></span>
    <span class="topic"><a href="/matematik-pengguna/simpanan-pelaburan/faedah-mudah">Faedah Mudah</a></span>
    <span class="topic"><a href="/matematik-pengguna/simpanan-pelaburan/faedah-kompaun">Faedah Kompaun</a></span>
    <span class="topic"><a href="/matematik-pengguna/simpanan-pelaburan/roi">Nilai Pemulangan Pelaburan (ROI)</a></span>
    <span class="topic"><a href="/matematik-pengguna/simpanan-pelaburan/amanah-saham">Amanah Saham</a></span>
    <span class="topic"><a href="/matematik-pengguna/simpanan-pelaburan/simpanan-masalah">Penyelesaian Masalah Simpanan</a></span>
  </div>
  <div onclick="toggleTopics(this)">
    <span>Matematik Pengguna: Pengurusan Kredit dan Hutang<span class="arrow">▼</span></span>
    <span class="topic"><a href="/matematik-pengguna/kredit-hutang/definisi-kredit-hutang">Apakah itu Kredit & Hutang?</a></span>
    <span class="topic"><a href="/matematik-pengguna/kredit-hutang/kira-kredit">Pengiraan Kredit</a></span>
    <span class="topic"><a href="/matematik-pengguna/kredit-hutang/kredit-masalah">Penyelesaian Masalah Kredit</a></span>
    <span class="topic"><a href="/matematik-pengguna/kredit-hutang/faedah-sama-rata">Faedah Sama Rata</a></span>
    <span class="topic"><a href="/matematik-pengguna/kredit-hutang/faedah-atas-baki">Faedah Atas Baki</a></span>
    <span class="topic"><a href="/matematik-pengguna/kredit-hutang/pinjaman-masalah">Penyelesaian Masalah Pinjaman</a></span>
  </div>
</div>


<div class="curriculum">

 {% if current_user.is_authenticated %}
    <button type="button" class="btn btn-primary">
        Your Mastery Points <span class="badge badge-secondary">{{ current_user.mastery_points }}</span>
    </button>
    {% endif %}
    <br>
    <br>
     <!-- Apply the new CSS class to the divs -->
    <div class="unit _12yy6f6l">
        <h3>Darab</h3>
        <p>0/1200 Mastery points</p>
        <ul>
             <li><a href="/pengenalan-darab">Pengenalan Darab</a></li>
 <li><a href="/darab-2-digit">Darab Cara Standard (2 Digit)</a></li>
{#            <li><a href="/darab-3-digit">Darab Cara Standard (3 Digit)</a></li>#}
            <li><a href="/darab-titik-perpuluhan">Darab dengan Titik Perpuluhan</a></li>
{#            <li><a href="/darab-kehidupan-seharian">Darab dalam Kehidupan Seharian</a></li>#}
{#            <li><a href="/darab-masalah">Penyelesaian Masalah</a> </li>#}
{#            <li><a href="/quiz">Quiz</a> </li>#}
            <li><a href="/game-darab">Play Game</a></li>
        </ul>
    </div>

    <div class="unit">
        <h4>Bahagi</h4>
        <p>800/1600 Mastery points</p>
        <ul>
                        <li><a href="/pengenalan-bahagi">Pengenalan Bahagi</a></li>
{#            <li><a href="/bahagi-2-digit">Bahagi Cara Standard (2 Digit)</a></li>#}
            <li><a href="/bahagi-4-digit">Bahagi Cara Standard (2 Digit)</a></li>
            <li><a href="/bahagi-titik-perpuluhan">Bahagi dengan Titik Perpuluhan</a></li>
{#            <li><a href="/bahagi-kehidupan-seharian">Bahagi dalam Kehidupan Seharian</a></li>#}
{#            <li><a href="/bahagi-masalah">Penyelesaian Masalah</a></li>#}
        </ul>
    </div>

    <div class="unit">
        <h3>Matematik Pengguna: Simpanan dan Pelaburan</h3>
        <p>0/1600 Mastery points</p>
        <ul>
            <li><a href="/matematik-pengguna/simpanan-pelaburan/simpanan-dan-pelaburan">Simpanan dan Pelaburan</a></li>
            <li><a href="/matematik-pengguna/simpanan-pelaburan/faedah-mudah">Faedah Mudah</a></li>
            <li><a href="/matematik-pengguna/simpanan-pelaburan/faedah-kompaun">Faedah Kompaun</a></li>
            <li><a href="/matematik-pengguna/simpanan-pelaburan/roi">Nilai Pemulangan Pelaburan (ROI)</a></li>
            <li><a href="/matematik-pengguna/simpanan-pelaburan/amanah-saham">Amanah Saham</a></li>
            <li><a href="/matematik-pengguna/simpanan-pelaburan/simpanan-masalah">Penyelesaian Masalah Simpanan</a></li>
        </ul>
    </div>
     <div class="unit">
        <h3>Matematik Pengguna: Pengurusan Kredit dan Hutang</h3>
        <p>0/1600 Mastery points</p>
        <ul>
            <li><a href="/matematik-pengguna/kredit-hutang/definisi-kredit-hutang">Apakah itu Kredit & Hutang?</a></li>
            <li><a href="/matematik-pengguna/kredit-hutang/kira-kredit">Pengiraan Kredit</a></li>
            <li><a href="/matematik-pengguna/kredit-hutang/kredit-masalah">Penyelesaian Masalah Kredit</a></li>
            <li><a href="/matematik-pengguna/kredit-hutang/faedah-sama-rata">Faedah Sama Rata</a></li>
            <li><a href="/matematik-pengguna/kredit-hutang/faedah-atas-baki">Faedah Atas Baki</a></li>
            <li><a href="/matematik-pengguna/kredit-hutang/pinjaman-masalah">Penyelesaian Masalah Pinjaman</a></li>
        </ul>
    </div>
</div>

</body>
{% endblock %}
