{% extends 'base.html' %}

{% block content %}

    <style>
     .center-text {
        text-align: center;
    }

        .lesson {
        width: 70%;
            font-family: Arial, sans-serif;
          padding-top: 60px; /* Adjust this value based on the height of your navbar */            /* Adjust these values */
            margin: auto auto auto 270px; /* Increase the left margin by the width of your sidebar */
            }
        .video {
            text-align: center;
        }
                .comments {
            margin-top: 20px;
        }

    </style>
     <head>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebar.css') }}">
    </head>
<body>
<div class="sidebar" >
  <div class="active">
    <span>Darab 2 Digit</span>
  </div>
  <div>
    <span>Darab 3 Digit</span>
  </div>
  <div>
    <span>Darab dengan Titik Perpuluhan</span>
  </div>
  <div>
    <span>Darab dalam Kehidupan Seharian</span>
  </div>
  <div>
    <span>Darab dalam Kehidupan Seharian</span>
  </div>
</div>
    <div class="lesson">
    <h1>Darab 2 Digit</h1>
<p>Pelan Pembelajaran ini mengenai pengenalan kepada cara untuk menggunakan darab dua digit. Pelajar akan menggunakan pemahaman mereka mengenai nilai tempat dan darab satu digit untuk memulakan darab dua digit.</p>
<p>&nbsp;</p>
<p><strong>Masa:</strong></p>
<p>45 minit</p>
<p>&nbsp;</p>
<p><strong>Bahan:</strong></p>
<ul>
<li>Kertas</li>
<li>Pensel warna atau krayon</li>
<li>Kalkulator</li>
</ul>
<p>&nbsp;</p>
<p><strong>Kata Kunci:</strong></p>
<ul>
<li>Nombor dua digit</li>
<li>Puluh</li>
<li>Sa</li>
<li>Pendaraban</li>
</ul>
<p>&nbsp;</p>
<p><strong>Objektif:</strong></p>
<ul>
<li>Pelajar akan melakukan pendaraban nombor dua digit dengan betul.</li>
<li>Pelajar akan menggunakan strategi pendaraban nombor dua digit.</li>
</ul>
<p>&nbsp;</p>
<p><strong>Keperluan Piawai:</strong></p>
<p>Menggunakan darab terhadap nombor bulat dan menggunakan darab terhadap dua nombor dua digit dengan menggunakan strategi berdasarkan nilai tempat dan operasi. Gambarkan dan terangkan cara pengiraan dengan menggunakan persamaan, tatasusunan segi empat tepat atau model pengiraan.</p>
<p>&nbsp;</p>
<p><strong>Pengenalan Pendaraban Nombor Dua Digit:</strong></p>
<p>Tulis 45X32 di papan tulis. Tanyakan kepada pelajar anda tentang bagaimana untuk menyelesaikan masalah persamaan tersebut. Sesetengah pelajar mungkin mempunyai idea bagaimana untuk menyelesaikannya. Selesaikan persamaan tersebut. Minta pelajar anda untuk menerangkan bagaimana persamaan ini diselesaikan. Kebanyakan pelajar yang menghafal formula tidak memahami bagaimana konsep nilai tempat digunakan dalam persamaan ini.</p>
<p>&nbsp;</p>
<p><strong>Langkah-Langkah:</strong></p>
<p>1. Beritahu pelajar anda bahawa sasaran pembelajaran ini adalah untuk membolehkan mereka mendarab nombor dua digit.</p>
<p>&nbsp;</p>
<p>2. Sementara anda menunjukkan cara menyelesaikan persamaan tersebut, minta pelajar unruk melukis/menulis apa yang anda bentangkan. Ini boleh menjadi rujukan kepada mereka di persamaan yang lain.</p>
<p>&nbsp;</p>
<p>3. Mulakan proses ini dengan bertanyakan kepada pelajar tentang nilai tempat. Contohnya, nombor 5 dan 2 mewakili tempat Sa. Nombor 4 dan 3 mewakili tempat Puluh. Anda boleh memulakan pendaraban dengan menutup nombor 3. Pelajar akan percaya bahawa mereka sedang mendarab 45X2, yang lebih mudah daripada pendaraban nombor dua digit.</p>
<p>&nbsp;</p>
<p>4. Mulakan dengan Sa:</p>
<p>4<strong>5</strong> X 3<strong>2 = 10 </strong>(5 X 2)</p>
<p>&nbsp;</p>
<p>5. Kemudian, beralih kepada nombor Puluh pertama dan nombor Sa kedua:</p>
<p><strong>4</strong>5 X 3<strong>2 = 80 </strong>(40 X 2)</p>
<p>(Kebanyakan pelajar keliru dengan langkah ini. Ingatkan mereka nombor 4 terletak di tempat Puluh dan bukannya Sa, jadi ambil 40 dan bukannya 4 sahaja.)</p>
<p>&nbsp;</p>
<p>6. Sekarang anda perlu membuka nombor 3 yang ditutup sebelumnya.</p>
<p>4<strong>5 </strong>X <strong>3</strong>2 = <strong>150</strong> (5 X 30)</p>
<p>(Seperti langkah sebelumnya, ingatkan pelajar bahawa nombor 3 terletak di tempat Puluh dan bukannya Sa, jadi ambil 30 dan bukannya 3 sahaja.)</p>
<p>&nbsp;</p>
<p>7. Langkah terakhir:</p>
<p><strong>4</strong>5 X<strong> 3</strong>2 = <strong>1200 </strong>(40 X 30)</p>
<p>&nbsp;</p>
<p>8. Langkah penting dalam pembelajaran ini adalah untuk mengingatkan mereka tentang nilai tempat sesuatu nombor itu.</p>
<p>&nbsp;</p>
<p>9. Tambah kesemua empat bahagian darab untuk mengetahui hasil darab bagi persamaan tersebut. Minta pelajar untuk menyemak jawapan dengan menggunakan kalkulator.</p>
<p>10+80+150+1200=1440</p>
<p>&nbsp;</p>
<p>10. Gunakan persamaan lain dan minta pelajar pula untuk menyelesaikannya dengan menggunakan kaedah atau konsep yang sama.</p>
<p>&nbsp;</p>
<p><strong>Penilaian:</strong></p>
<p>Berikan 3 lagi persamaan darab nombor dua digit untuk pelajar menyelesaikannya. Berikan markah tambahan sekiranya mereka menunjukkan jalan kerja.</p>
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9mp9-I_HB_w?si=DQrzuqVrprWLZxYj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>

        <div class="comments">
            <h2>Soalan & Komen</h2>
            <!-- Anda mungkin menggunakan plugin komen pihak ketiga di sini, atau membangun sistem komen anda sendiri -->
        </div>
    </div>
    {% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

</body>
