<div class="sidebar" >
     <div>
      <span><a href="/pengenalan-darab">Pengenalan Darab</a></span>
  </div>
  <div class="active">
      <span><a href="/darab-2-digit">Darab 2 Digit</a></span>
  </div>
{#  <div>#}
{#      <span><a href="/darab-3-digit">Darab 3 Digit</a></span>#}
{#  </div>#}
  <div>
      <span><a href="/darab-titik-perpuluhan">Darab dengan Titik Perpuluhan</a></span>
  </div>
{#  <div>#}
{#      <span><a href="/darab-kehidupan-seharian">Darab dalam Kehidupan Seharian</a></span>#}
{#  </div>#}
{#  <div>#}
{#      <span><a href="/darab-masalah">Penyelesaian Masalah</a></span>#}
{#  </div>#}
</div>
